@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg"); */
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 200ms linear;
}
::selection {
  color: #fff;
  background-color: #8167a9;
}
::-moz-selection {
  color: #fff;
  background-color: #8167a9;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 0.8rem;
}

/* #Navigation
================================================== */

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 20px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img {
  height: 24px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar {
  padding: 0;
}
.navbar-brand img {
  height: 35px;
  width: auto;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}
.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
.nav-link {
  color: #212121 !important;
  font-weight: 500;
  transition: all 200ms linear;
}
.nav-item:hover .nav-link {
  color: #fc8c64 !important;
}
.nav-item.active .nav-link {
  color: #fc8c64 !important;
}
.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}
.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #fc8c64;
  opacity: 0;
  transition: all 200ms linear;
}
.nav-item.btn-login:hover {
  background-color: #fc8c64;
  color: white !important;
}
.nav-item.btn-login:hover .nav-link {
  color: white !important;
}
.nav-item.btn-login:after {
  display: none;
}
.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}
.nav-item.active:hover:after {
  opacity: 0;
}
.nav-item {
  position: relative;
  transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
  background-color: #fff !important;
  transition: all 200ms linear;
}
.section {
  position: relative;
  width: 100%;
  display: block;
  padding: 4% 0;
}

.jumbotron-section {
  background-color: #dfffe7;
}
.jumbotron-section h1 {
  font-size: 2.5rem;
}
.jumbotron-section p {
  margin-bottom: 40px;
  font-size: 0.8rem;
}
.full-height {
  height: 100vh;
  background-color: #dfffe7;
}
.over-hide {
  overflow: hidden;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
}
h1 {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom:  30px;
  line-height: 1.2;
  font-weight: 500;
  color: #212112;
}
p {
  margin: 0;
  padding-top: 10px;
  opacity: 1;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1700ms;
}
body.hero-section p {
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 1700ms;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 3px 15px;
  color: #212121;
  border-radius: 2px;
  transition: all 200ms linear;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #fc8c64;
}

.btn-login {
  color: black;
  padding: 2px 20px;
  border: 1px solid #fcbc33;
  border-radius: 20px;
  margin-right: 20px;
}

.usp-section img {
  width: 100%;
}
.usp-item {
  text-align: center;
}

.lebar {
  width: 55%;
}





/* #Artikel
================================================== */



.card-deck {
    margin: 0 auto;
    float: none;
}

  #wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .btn-primary {
    padding: 10px 40px;
    margin-top: 20px;
    font-size: 0.8rem;
    background-color: #FFA513;
    border: none;
  }
  
  .btn-primary:hover {
    margin-top: 20px;
    font-size: 0.8rem;
    background-color: #df8a00;
    border: none;
  }

  .card-title {
    text-align: center;
  }
  
  .card-deck img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
  }

  .item {
    display: flex;
    text-align: justify;
  }

  .item img {
    width: 20px;
    align-self: flex-start;
    margin-bottom: 12px;
  }

  .info {
    flex: 1 1 auto;
    margin-top: -10px;
    margin-left: 5px;
  }

  .info p{
      font-size: 0.9rem;
  }


  
/* #Footer
================================================== */

footer {
  margin-top: 120px;
}

.footer-top { 
  padding: 60px 0; 
  background: #F5F5F5; 
  text-align: left; 
  color: #5F5F5F;
}

.footer-top h3 { 
  padding-bottom: 10px; 
  font-size: 1.2rem;
}

.footer-about img.logo-footer { 
  max-width: 30%; 
  margin-top: 0; 
  margin-bottom: 18px; 
}

.footer-contact p { 
  word-wrap: break-word; 
}

.footer-contact i { 
  padding-right: 10px; 
  font-size: 18px; 
}

.footer-contact p a { 
  color: #5F5F5F;
}

.footer-contact p a:hover, .footer-contact p a:focus {
  border-color: #aaa; 
}

.footer-social a { 
  display: inline-block; 
  margin-right: 20px; 
  margin-bottom: 8px; 
  color: #5F5F5F; 
  border: 0; 
}

.footer-social a:hover, .footer-social a:focus { 
  color: #aaa; 
  border: 0; 
}

.footer-social i { 
  font-size: 24px; 
  vertical-align: middle; 
}

.footer-bottom { 
  padding: 10px 0; 
  background: #444; 
  color: #aaa; 
}

.footer-copyright { 
  margin: 0 auto; 
  text-align: center;
}



/* #Media
================================================== */

@media screen and (max-width: 450px) {

  .full-height {
    height: 110vh;
    background-color: #dfffe7;
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: 10px;
  }

  .lebar {
    width: 100%;
  }

  h1 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  h2 {
    padding-top: 60px;
    font-size: 28px;
  }

  .card {
    margin-top: 30px;
  }

  .need {
    margin-top: 50px;
    font-size: 20px;
  }

  .center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

  .accordion {
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    transition: 0.4s;
    margin-bottom: 9px;
    border-radius: 8px;
    font-weight: 550;
  }

  .nav-item:after {
    display: none;
    
  }

  .nav-item::before {
    display: none;
  }

  .nav-item:hover {
    background-color: #fc8c64;
    color: white !important;
    padding: 3px 20px;
  border: 1px solid #fcbc33;
  border-radius: 20px;
  }

  .nav-item:hover .nav-link {
    color: white !important;
  
  }

}


